## Portfolio Dashboard with Interactive Chart ##

In [1]:
#Create dashboard table using https://pythonforundergradengineers.com/deploy-jupyter-notebook-voila-heroku.html

In [2]:
from yahoo_fin import stock_info as si

In [3]:
import pandas as pd

In [4]:
df1 = pd.read_csv(r'C:\Users\qlim5\Desktop\TEST.csv') #import initial csv file

In [5]:
ticker_list = list(df1['Ticker'])

In [6]:
px_last = {x:si.get_live_price(x) for x in ticker_list} #this returns a dictionary key = ticker, price = last price

In [7]:
df2 = pd.DataFrame(px_last.items(),columns=['Ticker','Last Price'])

In [8]:
final_table = pd.merge(df1,df2,on='Ticker') #merge initial table with last price

In [9]:
final_table['% Chg'] = ((final_table['Last Price'] / final_table['Entry Price'])-1)*100

In [10]:
final_table['P/L (LCL)'] = (final_table['Last Price'] - final_table['Entry Price']) * final_table['Quantity']

In [11]:
final_table.round(decimals=2)

,Ticker,Name,Quantity,Entry Price,Last Price,% Chg,P/L (LCL)
0,S58.SI,SATS Ltd.,1000,4.80,3.92,-18.33,-880.00
1,HMN.SI,Ascott REIT,3500,1.32,0.98,-26.14,-1207.50
2,C38U.SI,CapitaLand Integrated Trust,1000,2.12,2.06,-2.83,-60.00
3,TCU.SI,Credit Bureau Asia,1000,0.93,1.23,32.26,300.00
4,A17U.SI,Ascendas REIT,1200,2.90,2.96,2.07,72.00
5,CJLU.SI,Netlink Trust,3200,0.95,1.01,6.32,192.00
6,9988.HK,Alibaba Group,100,222.80,119.40,-46.41,-10340.00
7,TSLA,Tesla,5,621.28,1014.97,63.37,1968.45

In [12]:
#Creating multiple dataframes based on stock ticker

In [13]:
import yfinance as yf
import ipywidgets as widgets
from IPython.display import display, clear_output
from bokeh.io import curdoc,output_notebook,show
from bokeh.plotting import figure
from bokeh.models import Select, ColumnDataSource, HoverTool
from bokeh.layouts import column, row
from bokeh.application import Application
from bokeh.application.handlers import FunctionHandler

### Enter Stock Ticker ###

In [14]:
text = widgets.Text(description='Stock ticker: ')
display(text)
output = widgets.Output()
display(output)

def callback(X):
    with output:
        clear_output()
        d1 = yf.download(text.value,period='1Y')

        source = ColumnDataSource(d1)
        plot = figure(x_axis_type='datetime',title='Stock Price',tools='pan,box_zoom,xwheel_zoom,ywheel_zoom',active_scroll='xwheel_zoom')
        plot.line(x='Date',y='Close',source=source)
        output_notebook()
        show(plot)
    
text.on_submit(callback)

Text(value='', description='Stock ticker: ')

Output()

In [15]:
#http://localhost:8866/

In [16]:
#https://pythonforundergradengineers.com/deploy-jupyter-notebook-voila-heroku.html

In [17]:
#https://devcenter.heroku.com/articles/heroku-cli

In [19]:
#mkdir voila
#cd voila
#git init
#git remote add origin https://github.com/fabianlqy/voila.git
#git pull origin master